
/* Used Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* General Styles */
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
main{
    color: #4a4a4a;
}
p{
    font-family: 'Montserrat', sans-serif;
}

a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}

/* navbar */

.menu{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.menu-left, .menu-center, .menu-right{
    display: flex;
    align-items: center;
}

/* Menu left */


.menu-left span{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.menu-left span strong{
    color: #FF6961;
    font-family: 'Montserrat', sans-serif;
}

/* Menu center */
.menu-center li{
    margin-right: 150px;
}
.menu-center li:last-child{
    margin-right: 0px;
}
.menu-center li a{
    border: solid 1px white;
    transition: border .3s;
}
.menu-center li a:hover{
    border-top: solid 1px #FF6961;
}

/* Menu right */   
.menu-right i{
    margin: 0px 5px;
    transition: color .3s ease-out;
}

.menu-right i:hover{
    color: #FF6961;
}

/* button mobile ---------- */

.dropdown{
    display: none;
} 
.dropdown button{
    margin-left: 5px;
    transform: rotate('90deg');
    outline:none;
    transition: all 0.5s;
}

.dropbtn {
    color: #4a4a4a;
    text-decoration: none;
    border: 0;
    padding: 0;
    background-color: #fff;
}

.dropdown-content{
    position: absolute;
    top: 45px;
    right: 10px;
    display: none;
    flex-direction: column;
}

.dropdown-content a{
    padding: 5px;
    transition: 0.3s;
    text-align: center;
}
.dropdown-content a:hover{
    color: #FF6961;
}


/* section DATA */
div.codvid-19{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    margin: 50px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.div-title h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.cases, .deaths{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cases{
    color: #FF6961;
}
.data{
    font-size: 30px;
}

.deaths{
    color: #000000;
}

.share{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #4a4a4a;
}
.share span{
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
}
.share .fa-facebook{
    padding-left: 10px;
    border-left: solid #FF6961 2px;
}
.share .fa{
    padding-right: 20px;
}




